PostgresPassword=postgres
TemplateApi__PostgreSqlConnectionString=Server=postgresql;Database=template_db;Username=postgres;Password=postgres;GSS Encryption Mode=Disable
TemplateApi__ImageApiKey=change-me
# Change this to a long random value for any non-local environment
TemplateApi__Jwt__Issuer=Template.Api
TemplateApi__Jwt__Audience=Template.Api.Client
TemplateApi__Jwt__Key=d5e20c96c08641aabee640ca900d63d373d114a66dd84bf1954acda6998f3c6d
TemplateApi__CorsOrigins__0=http://localhost:3000
