PostgresPassword=postgres
TemplateApi__PostgreSqlConnectionString=Server=postgresql;Database=Database;Username=postgres;Password=postgres;GSS Encryption Mode=Disable
TemplateApi__ImageApiKey=change-me
