PostgresPassword=postgres
TemplateApi__PostgreSqlConnectionString=Server=postgresql;Database=template_db;Username=postgres;Password=postgres;GSS Encryption Mode=Disable
TemplateApi__ImageApiKey=change-me
